<h2>Achieving stuff #1<%=h @stuff.subject_id %><%=h @stuff.day_id %><%=h @stuff.sn %></h2>
<p class="shortcuts"><%= link_to '< 返回', @stuff %></p>
<hr />

<% form_for(@stuff) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :subject_id %>
  <%= f.hidden_field :day_id %>
  <%= f.hidden_field :sn %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :note %>
  <%= f.hidden_field :status, :value => 0 %>

  <p>你确定要存档 #1<%=h @stuff.subject_id %><%=h @stuff.day_id %><%=h @stuff.sn %> 吗？存档后将不会再主界面显示。</p>
  <p class="button"><%= f.submit 'Confirm' %></p>
<% end %>