<h2>Editing stuff</h2>
<p class="shortcuts"><%= link_to '< 返回', @stuff %></p>
<hr />

<% form_for(@stuff) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :subject_id %>
    <%= f.hidden_field :day_id %>
    <%= f.hidden_field :sn %>
    <%= f.hidden_field :status %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name ,:class => "text-field" %>
  </p>
  <p>
    <%= f.label :note %>
    <%= f.text_field :note ,:class => "text-field" %>
  </p>
  <%= f.submit 'Update' ,:class => "button" %>
  
<% end %>