<h2>Listing stuffs</h2>
<p class="shortcuts"><%= link_to '新建', new_stuff_path %></p>
<hr />

<ol>
<% @stuffs.each do |s| %>
  <li class="no-id"><strong>1<%=h s.subject_id %><%=h s.day_id %><%=h s.sn %></strong><%= link_to s.name, s %></li>
<% end %>
</ol>

