<h2>New stuff</h2>
<span class="shortcuts"><%= link_to '< 返回', stuffs_path %></span>
<hr />
  
  <% form_for(@stuff) do |f| %>
    <%= f.error_messages %>
  
    <% @stuffs = Stuff.find(:all, :conditions => {:subject_id => params[:subject], :day_id => @days_to_njcee}) %>
  
    <%= f.hidden_field :subject_id, :value => params[:subject] %>
    <%= f.hidden_field :status, :value => 1 %>
    <%= f.hidden_field :day_id, :value => @days_to_njcee %>
    <%= f.hidden_field :sn, :value => @stuffs.size + 1 %>
  
      <p>
        <%= f.label :name %>
        <%= f.text_field :name ,:class => "text-field" %>
      </p>
      <p>
        <%= f.label :note %>
        <%= f.text_field :note ,:class => "text-field" %>
      </p>
      <%= f.submit 'Create' ,:class => "button" %>
  
  <% end %>
