<h1>New stuff</h1>

<% form_for(@stuff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_id %><br />
    <%= f.text_field :subject_id %>
  </p>
  <p>
    <%= f.label :day_id %><br />
    <%= f.text_field :day_id %>
  </p>
  <p>
    <%= f.label :sn %><br />
    <%= f.text_field :sn %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stuffs_path %>