<h2>Stuff #1<%=h @stuff.subject_id %><%=h @stuff.day_id %><%=h @stuff.sn %></h2>
<p class="shortcuts"><a href="#">相关错题</a></p>
<hr />

<div id="focus">
  <p class="title"><%=h @stuff.name %></p>
  <p class="description"><%=h @stuff.note %></p>
  <p class="meta"><%= @status %> / <%= @stuff.created_at.strftime("%Y 年 %m 月 %d 日") %></p>
</div>

<div id="nav">
<% if @stuff.status == 1 or  @stuff.status == -1 %>
<%= link_to '编辑', edit_stuff_path(@stuff) %> · 
<%= link_to "归档", :action => "archive", :id => @stuff %>
<% end %>
<% if @stuff.status == 0 %>
<%= link_to "激活", :action => "activate", :id => @stuff %> · 
<%= link_to '删除', @stuff, :method => :delete %>
<% end %>
</div>

