<h2>Select a Subject</h2>
<p class="shortcuts"><%= link_to "< 返回", :controller => params[:c] %></p>
<hr />

<ul class="menu">
	<li><%= link_to "1 - 语文", :controller => params[:c], :action => params[:a], :subject => "1" %></li>
	<li><%= link_to "2 - 数学", :controller => params[:c], :action => params[:a], :subject => "2" %></li>
	<li><%= link_to "3 - 英语", :controller => params[:c], :action => params[:a], :subject => "3" %></li>
	<li><%= link_to "4 - 政治", :controller => params[:c], :action => params[:a], :subject => "4" %></li>
	<li><%= link_to "5 - 历史", :controller => params[:c], :action => params[:a], :subject => "5" %></li>
	<li><%= link_to "6 - 地理", :controller => params[:c], :action => params[:a], :subject => "6" %></li>
	<li><%= link_to "0 - 其他", :controller => params[:c], :action => params[:a], :subject => "0" %></li>
</ul>