<h2>Select a Subject</h2>
<p class="shortcuts"><%= link_to "< 返回", :controller => params[:c] %></p>
<hr />

<ul class="menu">
	<li><%= link_to "<b>1</b> - 语 文", :controller => params[:c], :action => params[:a], :subject => "1" %></li>
	<li><%= link_to "<b>2</b> - 数 学", :controller => params[:c], :action => params[:a], :subject => "2" %></li>
	<li><%= link_to "<b>3</b> - 英 语", :controller => params[:c], :action => params[:a], :subject => "3" %></li>
	<li><%= link_to "<b>4</b> - 政 治", :controller => params[:c], :action => params[:a], :subject => "4" %></li>
	<li><%= link_to "<b>5</b> - 历 史", :controller => params[:c], :action => params[:a], :subject => "5" %></li>
	<li><%= link_to "<b>6</b> - 地 理", :controller => params[:c], :action => params[:a], :subject => "6" %></li>
	<li><%= link_to "<b>0</b> - 其 他", :controller => params[:c], :action => params[:a], :subject => "0" %></li>
</ul>