<h2>Editing memo</h2>
<span class="shortcuts"><%= link_to '< 返回', memos_path %></span>
<hr />

<% form_for(@memo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name,:class => "text-field" %>
  </p>
  <p>
    <%= f.label :note %>
    <%= f.text_field :note,:class => "text-field" %>
  </p>
  
<% if @memo.t_first == nil %>
  <p>
    <%= f.label :t_next, "Time estimated (min)" %>
    <%= f.text_field :t_next, :class => "text-field" %>
  </p>
<% else %>
  <p>
    <%= f.label :t_first, "First Revison Length (min)" %>
    <%= f.text_field :t_first, :class => "text-field" %>
  </p>
<% end %>

  <%= f.submit 'Update' ,:class => "button" %>

<% end %>


