<h2>Editing memo</h2>
<span class="shortcuts"><%= link_to '< 返回', memos_path %></span>
<hr />

<% form_for(@memo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name,:class => "text-field" %>
  </p>
  <p>
    <%= f.label :note %>
    <%= f.text_field :note,:class => "text-field" %>
  </p>

  <%= f.submit 'Update' ,:class => "button" %>

<% end %>