<h2>Mnemosyne <%= @p_current %></h2>
<p class="shortcuts"><%= link_to '新建', new_memo_path %></p>
<hr />

<ol>
<% @memos.each do |m| %>
  <li><%= link_to m.name, m %></li>
  <% if m.t_next == nil %>
  <span class="t">N/A 分钟</span>
  <% else %>
  <span class="t">
    <% if m.n == 1 %>
    <%= m.t_first * 0.8 %>
    <% else %>
    <%= m.t_next %><% end %>
     分钟</span>
  <% end %>
<% end %>
</ol>