<h2>Mnemosyne <%= @p_current %></h2>
<p class="shortcuts"><%= link_to '新建', new_memo_path %></p>
<hr />

<ol>
<% @memos.each do |m| %>
  <li><%= link_to m.name, :action => "done", :id => m.id %></li>
  <% if m.t_next == nil %>
  <span class="t"><%= link_to "N/A 分钟", m %></span>
  <% else %>
  <span class="t">
    <% if m.n == 1 %>
      <%= link_to "#{m.t_first * 0.8} 分钟", m %>
    <% else %>
      <%= link_to "#{m.t_next} 分钟", m %>
    <% end %>
  </span>
  <% end %>
<% end %>
</ol>
<hr />