<h2>New memo</h2>
<span class="shortcuts"><%= link_to '< 返回', memos_path %></span>
<hr />

<% form_for(@memo) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :p_first, :value => @p_current %>
  <%= f.hidden_field :p_next, :value => @p_current %>
  <%= f.hidden_field :m, :value => 1 %>
  <%= f.hidden_field :n, :value => 0 %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name ,:class => "text-field" %>
  </p>
  <p>
    <%= f.label :note %>
    <%= f.text_field :note ,:class => "text-field" %>
  </p>

  <%= f.submit 'Create' ,:class => "button" %>

<% end %>