<div id="focus">
  <p class="title"><%=h @memo.name %></p>
  <p class="description"><%=h @memo.note %></p>
  <p class="meta">
  <% if  @memo.t_first == nil && @memo.n == 0 %>
  这将是首次复习，请注意计时<br />（预计用时： <%=h @memo.t_next %> 分钟）
  <% elsif @memo.n == 1 %>
  这将是第 <%=h @memo.m %> 轮 总第 <%=h @memo.n + 1 %> 次复习 <br /> （建议用时： <%=h @memo.t_first * 0.8 %> 分钟）
  <% else %>
  这将是第 <%=h @memo.m %> 轮 总第 <%=h @memo.n + 1 %> 次复习 <br /> （建议用时： <%=h @memo.t_next %> 分钟）
  <% end %>
  </p>
</div>
<br class="clear" />
<div id="nav">
  <% if @p_current >= @memo.p_next %><%= link_to "完成", :action => "done", :id => @memo %><% end %> · 
  <%= link_to '编辑', edit_memo_path(@memo) %> · 
  <%= link_to '删除', @memo, :method => :delete, :confirm => "此操作不可恢复，确定要删除吗？" %>
  <% if @memo.n >= 3 %> · <%= link_to "新一轮", :action => "round", :id => @memo.id %><% end %>
</div>