<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh"> 
<head> 
  <meta http-equiv="Content-type" content="text/html;charset=utf-8" /> 
  <%= stylesheet_link_tag 'aegean' %>
  <title>麦芒创想记忆辅助</title> 
</head> 
<body> 
<div id="header">
  <h1><%= link_to "记忆点 #{get_p_current()}（ #{get_days_to_njcee()} 天）", :action => "index" %></h1> 
  <span><a href="#current">CRT <em><%= @memos.size %></em></a> / <a href="#delayed">DLY <em><%= @memos_delayed.size %></em></a></span>
</div>
<p id="notice"><%= flash[:notice] %></p>
<div id="content">
<%= yield %>

<p id="footer">天道酬勤 快以制胜</p>

</div>

</body> 
</html>
