<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh"> 
<head> 
  <meta http-equiv="Content-type" content="text/html;charset=utf-8" /> 
  <%= stylesheet_link_tag 'aegean' %>
  <title>(<%= get_days_to_njcee() %>) 麦芒创想 CAL&E 平台</title> 
</head> 
<body> 
<div id="header">
  <h1><%= link_to "记忆辅助<small> #{get_p_current()}</small> ", :action => "index" %></h1> 
  <% if controller.action_name != 'all' and controller.action_name != 'today' %>
  <span><a href="#current"><em>当前 </em><%= @memos.size %></a> / <a href="#delayed"><em>延误 </em><%= @memos_delayed.size %></a></span>
  <% end %>
</div>
<p id="notice"><%= flash[:notice] %></p>
<div id="content">
<%= yield %>
</div>
<br class="clear" /><p id="footer">天道酬勤 快以制胜</p>
</body> 
</html>
